{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/users">Users</a></li>
            <li><a href="/tasks">Tasks</a></li>
            <li><a href="/hourrates">Hourrates</a></li>
            <li><a href="/transportrates">Transportrates</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>
</header>
<div id="container">
<a href="register" id="add-button"> Add </a>
<table>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Tel</th>
        <th>Function</th>
    </tr>
    {% for user in users %}
        <tr id="tablerow" >
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.tel }}</td>
            <td>{{ user.function }}</td>
            <td><a id="edit" href="/edit-user/{{user.Id}}">Edit</a></td>
            <td> <a id="delete" href="/delete-user/{{user.Id}}">Delete</a> </td>
        </tr>
    {% endfor %}
</table>
</div>
{% endblock %}
